<h1 class="title">
    APS (inserir titulo aqui)
</h1>

<div style="margin-top: 20vh;">
    <div class="align-center">
        <button style="height:200px; width: 200px;" pButton pRipple type="button" label="Legislatura Atual"
            class="p-button-outlined p-button-raised p-button-text p-button-plain p-m-4" (click)="mudarTelaConsultaDeputado(true)">
            <i class="pi pi-eye" style="font-size: 2rem"></i></button>
        <button style="height:200px; width: 200px;" pButton pRipple type="button" label="Histórico"
            class="p-button-outlined p-button-raised p-button-text p-button-plain p-m-4" (click)="mudarTelaConsultaDeputado(false)">
            <i class="pi pi-book" style="font-size: 2rem"></i></button>
    </div>
</div>

<p-progressSpinner class="progress-spinner" *ngIf="loading"></p-progressSpinner>

<p-blockUI [blocked]="loading"></p-blockUI>