<div class="container background-image">
    <div class="header">
        <a style="color: inherit; text-decoration: none;" [routerLink]="['/']">
            <span><i class="pi pi-home" style="font-size: 25px"></i></span>
            <h1>APS</h1>
        </a>
    </div>

    <div class="content">
        <router-outlet></router-outlet>
    </div>
    
    <footer>
        <hr/>
        <div>APS do 2º semestre de 2021 para aprender consumo de uma API externa</div>
    </footer>
    <app-github-corner url="https://github.com/carvalho-marcelo"></app-github-corner>
</div>