<div class="container background-image">
    <div class="content">
        <h2 class="title">
            APS (inserir titulo aqui)
        </h2>
        <div style="margin-top: 20vh;">
            <div class="align-center">
                <button style="height:200px; width: 200px;" pButton pRipple type="button" label="Legislatura Atual" class="p-button-outlined p-button-raised p-button-text p-button-plain p-mr-4">
                <i class="pi pi-eye" style="font-size: 2rem"></i></button>
                <button style="height:200px; width: 200px;" pButton pRipple type="button" label="Histórico" class="p-button-outlined p-button-raised p-button-text p-button-plain p-mr-4">
                <i class="pi pi-book" style="font-size: 2rem;"></i></button>
            </div>
        </div>
    </div>
    <footer>
        <hr/>
        <div>APS do 2º semestre de 2021 para aprender consumo de uma API externa</div>
    </footer>
    <app-github-corner url="https://github.com/carvalho-marcelo"></app-github-corner>
</div>