<div class="p-grid">
    <p-card class="p-col-6">
        <ng-template pTemplate="header">
            <div style="padding: 1em; padding-bottom: 5px;">
                <i class="pi pi-user" style="font-size: 1rem"></i> Detalhes do Deputado(a) {{deputado?.ultimoStatus?.nome}}
            </div>
            <hr/>
        </ng-template>
        <div class="p-grid">
            <div class="p-col-3">
                <span>
                    <img src={{deputado?.ultimoStatus?.urlFoto}}
                        onerror="this.onerror=null;this.src='https://www.carnival.com/_ui/responsive/ccl/assets/images/notfound_placeholder.svg';"
                        width="100%" height="100%" style="max-width: 150px;" />
                </span>
            </div>
            <div class="p-d-flex p-flex-column p-col-3">
                <span>Nome Civil: </span>
                <span>CPF: </span>
                <span>Partido: </span>
                <span>Situação: </span>
                <span>Email: </span>
                <span>Data de nascimento: </span>
                <span *ngIf="deputado?.dataFalecimento">Data de falecimento: </span>
                <span>Naturalidade: </span>
                <span>Escolaridade: </span>
            </div>
            <div class="p-d-flex p-flex-column p-col-6">
                <span>{{deputado?.nomeCivil}}</span>
                <span>{{deputado?.cpf | cpfCnpj}}</span>
                <span>{{deputado?.ultimoStatus?.siglaPartido}}</span>
                <span>{{deputado?.ultimoStatus?.situacao}}</span>
                <span>{{deputado?.ultimoStatus?.email}}</span>
                <span>{{deputado?.dataNascimento | date: 'dd/MM/yyyy'}}</span>
                <span *ngIf="deputado?.dataFalecimento">{{deputado?.dataFalecimento | date: 'dd/MM/yyyy'}}</span>
                <span>{{deputado?.municipioNascimento}} - {{deputado?.ufNascimento}}</span>
                <span>{{deputado?.escolaridade}}</span>
            </div>
        </div>
    </p-card>
</div>

<br />

<p-card>
    <h1 class="title">Consultar Despesas</h1>

    <div class="filtros p-field p-d-flex p-flex-row">
        <div class="p-field p-d-flex p-flex-column p-mr-3">
            <label>Mês:</label>
            <p-multiSelect [filter]="false" [options]="meses" [(ngModel)]="mesesSelecionados" [maxSelectedLabels]="3"
                defaultLabel="Selecione os meses" selectedItemsLabel="{0} itens selecionados"></p-multiSelect>
        </div>
        <div class="p-field p-d-flex p-flex-column">
            <label>Ano:</label>
            <p-multiSelect [filter]="false" [options]="anos" [(ngModel)]="anosSelecionados" [maxSelectedLabels]="3"
                defaultLabel="Selecione até 4 anos" selectedItemsLabel="{0} itens selecionados" [selectionLimit]="4">
            </p-multiSelect>
        </div>
        <div style="margin-top: 36px; margin-left: 25px;">
            <button pButton pRipple type="button" label="Consultar" (click)="consultar()"></button>
        </div>
    </div>
    <hr>
</p-card>
<p-table #dt [value]="despesas" dataKey="id" styleClass="p-datatable-gridlines" [rows]="10"
    [rowsPerPageOptions]="[10,25,50]" [paginator]="true" [loading]="loading"
    [globalFilterFields]="['nomeFornecedor','tipoDespesa','dataDocumento']" [showCurrentPageReport]="true"
    currentPageReportTemplate="Total de {totalRecords} registros recuperados">
    <ng-template pTemplate="caption">
        <div class="table-header">
            <div class="p-d-flex">
                Gastos do Deputado(a) {{deputado?.ultimoStatus?.nome}}
                <span class="p-input-icon-left p-ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                        placeholder="Filtrar por ..." />
                </span>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th *ngFor="let col of cols" pSortableColumn={{col.field}} class={{col.class}}>
                <div class="p-d-flex p-jc-between p-ai-center">
                    {{col.header}}
                    <p-sortIcon *ngIf="col.field != 'notaFiscal' && col.field != 'acoes'" field={{col.field}}></p-sortIcon>
                </div>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-despesa>
        <tr class="p-selectable-row">
            <td>
                {{despesa.nomeFornecedor}}<br />{{despesa.cnpjCpfFornecedor | cpfCnpj}}
            </td>
            <td>
                {{despesa?.tipoDespesa}}
            </td>
            <td>
                {{despesa?.dataDocumento | date : 'dd/MM/yyyy'}}
            </td>
            <td>
                {{despesa?.valorDocumento | currency : 'BRL'}}
            </td>
            <td>
                {{despesa?.valorLiquido | currency : 'BRL'}}
            </td>
            <td style="text-align: center">
                <a *ngIf="despesa?.urlDocumento" style="color: inherit; text-decoration: none;" href={{despesa?.urlDocumento}} target="_blank"
                    rel="noneferrer">
                    <button pButton type="button" class="p-button-secondary p-mr-2" icon="pi pi-file-o"
                        title="Recibo"></button>
                </a>
                <span *ngIf="!despesa?.urlDocumento">Indisponível</span>
            </td>
            <td style="text-align: center">
                <button pButton type="button" class="p-button-secondary p-mr-2" icon="pi pi-exclamation-triangle" title="denunciar gasto"
                    (click)="abrirModalDenunciarGasto(despesa)"></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="8">Nenhum registro encontrado.</td>
        </tr>
    </ng-template>
</p-table>

<app-modal-denuncia-gasto #modalDenuncia [deputado]="deputado"></app-modal-denuncia-gasto>
